/*  1em = 16px 
    
    responsive font size van slides:
    https://css-tricks.com/snippets/css/fluid-typography/

    Mobile first */

html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
}

body {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    box-sizing: border-box;
}


/* Witte rand om website heen */

#whitebox {
    background-color: transparent;
    position: absolute;
    /* width: 100%;
    height: 100%; */
    border: 1em solid #ffe3ea;
    z-index: 999;
    left: 0;
    top: 0;
}

section {
    padding-left: 1em;
}

main {
    padding-left: 1em;
}

form {
    padding-left: 1em;
}


/* Witte rand om website heen */


/* Navigatie */

header {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    background-color: white;
    width: 100%;
}

#logo-head {
    position: relative;
    padding: 1em;
    width: 3em;
}

#logo-title {
    position: relative;
    margin-right: auto;
}

#menu {
    position: relative;
    float: right;
    width: 2em;
    padding: 1em;
    margin-left: auto;
}

nav {
    display: none;
    margin-left: auto;
    font-size: 0.6em;
    font-weight: 700;
    width: 100vw;
    height: 100vh;
    background-color: #ffe3ea;
}


/* Kruisje van deze link gepakt 
https://codepen.io/brissmyr/pen/egidw */

#cross {
    position: absolute;
    right: 3em;
    top: 4em;
    width: 3em;
    height: 3em;
}

#cross:before,
#cross:after {
    position: absolute;
    left: 1em;
    content: ' ';
    height: 3em;
    width: 0.2em;
    background-color: #000;
}

#cross:before {
    transform: rotate(45deg);
}

#cross:after {
    transform: rotate(-45deg);
}


/* menu op mobile */

.visible {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffe3ea;
    padding: 10em;
}

.scrolling {
    overflow: hidden;
}

.headerbig {
    height: 100vh;
    width: 100vw;
}

.gone {
    display: none;
}


/* cross eindigt hier */

nav ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin: auto 0;
    padding: 0;
    width: 20em;
    max-height: 60em;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
}

nav img {
    padding: 1em;
    width: 7em;
    margin: auto;
}

nav h1 {
    text-align: center;
    font-size: 3em;
    font-weight: 100;
    margin: 1em auto;
}

nav ul li {
    height: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto 0;
    border-bottom: black solid 1px;
}

nav ul li a {
    font-size: 1.1em;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}

#noborder {
    border-bottom: none;
}

a:hover {
    opacity: 0.4;
}

#btn-nav {
    display: flex;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    background-color: #ff0063;
    border: 2px solid #ff0063;
    border-radius: 3em;
    padding: 1.5em 2em;
    justify-content: center;
    width: 16em;
    box-sizing: border-box;
    height: auto;
    margin: auto;
    margin-top: 3em;
    cursor: pointer;
}

#btn-nav:hover {
    color: #ff0063;
    background-color: white;
    border: 2px solid #ff0063;
    justify-content: center;
    box-sizing: border-box;
    width: 16em;
}


/* Navigatie */


/* Buttons */

.btn-banner {
    display: flex;
    font-size: 0.7em;
    line-height: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    background-color: #ff0063;
    border: 2px solid #ff0063;
    border-radius: 3em;
    padding: 1.5em 2em;
    justify-content: center;
    width: 16em;
    box-sizing: border-box;
    height: auto;
    cursor: pointer;
}

.btn-banner:hover {
    color: #ff0063;
    background-color: white;
    border: 2px solid #ff0063;
    justify-content: center;
    box-sizing: border-box;
    width: 16em;
}


/* Buttons */


/* Banner CTA */

section article {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #ffe3ea;
    padding: 0 2em;
}

section article h1 {
    text-align: left;
    font-size: 2em;
    margin: 1em 0 0;
}

section article p {
    word-spacing: 2px;
    line-height: 1.5em;
    margin: 1em 0 0;
    text-align: left;
}

section article .btn-banner {
    margin: 2em auto;
}

section img {
    position: relative;
    width: 100%;
}


/* Best practices */

#svgsec {
    display: flex;
    flex-direction: column;
}

section svg {
    box-sizing: border-box;
    align-content: center;
    margin: 3em auto 2em;
}

section svg:first-child {
    padding-right: 2em;
}

section svg:last-child {
    margin: 2em auto 4em;
}

section h2 {
    font-size: 3em;
    font-weight: 500;
    text-align: center;
}

section p {
    line-height: 2em;
    text-align: center;
}


/* Best practices */


/* Library */


/*Intro Library */

main article h6 {
    text-transform: uppercase;
}

main article:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

main article:first-child img {
    margin: 0 auto;
    width: 6em;
}

main article h2 {
    font-weight: 500;
}

main article p {
    line-height: 2em;
    text-align: center;
}

.italic {
    margin: -1em auto 1em;
    opacity: 0.7;
    font-style: italic;
}


/*Intro Library */


/* Main */

main {
    padding: 0 1em;
}

main img {
    width: 100%;
}

.author {
    opacity: 0.7;
    font-size: 1em;
    text-align: left;
}


/* Main */


/* Highlighted Article */

#highlight {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#highlight img {
    margin-top: 2em;
}

#highlight h2 {
    font-size: 2em;
}

#highlight .author {
    font-size: 1em;
    margin: 0 0 1em 0;
}

#highlight p {
    font-size: 0.9em;
    line-height: 2.3em;
    text-align: left;
    margin: 0 auto 1em;
}

#highlight .btn-banner {
    justify-content: center;
    margin: 1em auto 5em;
}


/* Highlighted Article */


/* Articles Library in grid */

#small-articles {
    display: grid;
}


/* Articles Library in grid */


/* Library */


/* Library */


/* Form */


/* Form */


/* Mobile */

@media screen and (max-width: 30em) {
    #logo-title {
        display: none;
    }
    nav {
        display: none;
    }
}


/* Tablet */

@media screen and (min-width: 30em) and (max-width: 50em) {
    #whitebox {
        border-color: #C4CFF5;
    }
    nav {
        display: none;
    }
    nav ul {
        top: 45%;
    }
}


/* Desktop */

@media screen and (min-width: 50em) {
    html {
        font-size: 24px;
    }
    #whitebox {
        border-color: #B0DFE5;
    }
    #menu {
        display: none;
    }
    nav ul li {
        justify-content: space-evenly;
    }
}