        /*  1em = 16px  Mobile first */
        
        * {
            box-sizing: border-box;
        }
        /* voorbeeld site gebruikt ze ook, weet niet of nuttig voor kleine projecten  */
        
         :root {
            --primary-color: #ffe3ea;
            --secondary-color: #C4CFF5;
            --third-color: #B0DFE5;
            --button-color: #ff0063;
            --btnhigh-color: #35cada;
            --text-color: #101011;
        }
        /* responsive font size van slides: https://css-tricks.com/snippets/css/fluid-typography/ */
        
        html {
            font-size: calc(16px + 6 * ((100vw - 320px) / 680));
        }
        
        body {
            display: block;
            font-family: Arial, Helvetica, sans-serif;
            background-color: var(--primary-color);
            margin: 0;
            padding: 1em;
        }
        /* rand om website heen, voor de content en nadat content is getoond, dus het begin en helemaal beneden */
        
        body::before,
        body::after {
            content: '';
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            border: 1em solid var(--primary-color);
            bottom: 0;
            z-index: 999;
            border-bottom: 0px;
            pointer-events: none;
        }
        /* Navigatie */
        
        header {
            display: flex;
            justify-content: flex-start;
            align-content: center;
            background-color: #fff;
            width: 100%;
        }
        
        #logo-head {
            display: block;
            position: relative;
            width: 4em;
        }
        
        #logo-title {
            position: relative;
            margin-left: 1em;
        }
        
        #menu {
            position: relative;
            width: 2em;
            margin: 0 1em 0 auto;
        }
        
        nav {
            display: none;
            margin-left: auto;
            font-size: 0.6em;
            font-weight: 700;
            width: 100%;
            height: 100%;
            background-color: #ffe3ea;
        }
        /* Kruisje van deze link gepakt  https://codepen.io/brissmyr/pen/egidw */
        
        a {
            text-decoration: none;
            color: #fff;
        }
        
        a:hover {
            text-decoration: none;
            color: var(--button-color);
        }
        
        #cross {
            position: absolute;
            right: 3em;
            top: 4em;
            width: 3em;
            height: 3em;
        }
        
        #cross:before,
        #cross:after {
            position: absolute;
            left: 1em;
            content: ' ';
            height: 3em;
            width: 0.2em;
            background-color: #000;
        }
        
        #cross:before {
            transform: rotate(45deg);
        }
        
        #cross:after {
            transform: rotate(-45deg);
        }
        /* JS dingen */
        
        .visible {
            display: block;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: var(--primary-color);
            padding: 10em;
        }
        
        .scrolling {
            overflow: hidden;
        }
        
        .headerbig {
            height: 100vh;
            width: 100vw;
        }
        
        .gone {
            display: none;
        }
        /* bar goedzetten na scroll actie */
        
        .fixed {
            position: fixed;
            z-index: 9999;
            top: 0;
            width: calc(100% - 2em);
        }
        
        .fixed-padding {
            padding-top: 6em;
        }
        
        .hidden {
            display: none;
        }
        /* JS Dingen */
        /* cross eindigt hier */
        
        nav ul {
            display: flex;
            flex-direction: column;
            position: fixed;
            margin: auto 0;
            padding: 0;
            width: 20em;
            max-height: 60em;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            list-style: none;
        }
        
        nav img {
            width: 7em;
            margin: auto;
        }
        
        nav h2 {
            text-align: center;
            font-size: 3em;
            font-weight: 100;
            margin: 1em auto;
        }
        
        nav ul li {
            height: 5em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: auto 0;
            border-bottom: var(--text-color) solid 1px;
        }
        
        nav ul li a {
            font-size: 1.1em;
            text-transform: uppercase;
            color: var(--text-color);
            text-decoration: none;
        }
        
        #noborder {
            border-bottom: none;
        }
        
        a:hover {
            opacity: 0.4;
        }
        
        #btn-nav {
            display: flex;
            font-size: 1em;
            font-weight: 700;
            text-transform: uppercase;
            color: #fff !important;
            background-color: var(--button-color);
            border: 2px solid var(--button-color);
            border-radius: 3em;
            padding: 1.5em 2em;
            justify-content: center;
            width: 16em;
            height: auto;
            margin: auto;
            margin-top: 3em;
            cursor: pointer;
        }
        
        #btn-nav:hover {
            color: #ff0063 !important;
            background-color: #fff;
            border: 2px solid var(--button-color);
            justify-content: center;
            width: 16em;
        }
        /* Navigatie */
        /* Buttons */
        
        .btn-banner {
            display: flex;
            font-size: 0.7em;
            line-height: 1.2em;
            font-weight: 700;
            text-transform: uppercase;
            color: white !important;
            background-color: var(--button-color);
            border: 2px solid var(--button-color);
            border-radius: 3em;
            padding: 1.5em 2em;
            justify-content: center;
            width: 16em;
            height: auto;
            cursor: pointer;
        }
        
        .btn-banner:hover {
            color: var(--button-color) !important;
            background-color: #fff;
            border: 2px solid var(--button-color);
            justify-content: center;
            width: 16em;
        }
        /* Buttons */
        /* Banner CTA */
        
        section article {
            display: flex;
            flex-direction: column;
            position: relative;
            background-color: var(--primary-color);
            padding: 0 1em;
        }
        
        section article h1 {
            text-align: left;
            font-size: 2em;
            margin: 1em 0 0;
        }
        
        section article p {
            word-spacing: 2px;
            line-height: 1.5em;
            margin: 1em 0 0;
            text-align: left;
        }
        
        section article .btn-banner {
            margin: 2em auto;
        }
        
        section img {
            position: relative;
            width: 100%;
        }
        /* Best practices */
        
        #svgsec {
            display: flex;
            flex-direction: column;
            padding: 0 1em;
            background-color: #fff;
        }
        
        section svg {
            align-content: center;
            margin: 3em auto 0;
        }
        
        section svg:last-child {
            margin: 3em auto 4em;
        }
        
        section h2 {
            font-size: 3em;
            font-weight: 500;
            text-align: center;
        }
        
        section p {
            line-height: 2em;
            margin: 1em auto;
            text-align: center;
        }
        
        #partnerblk {
            display: flex;
            flex-direction: column;
            background-color: #fff;
        }
        /* Best practices */
        /* Library */
        /*Intro Library */
        
        main article h6 {
            text-transform: uppercase;
            margin: 1em auto;
        }
        
        #this {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            text-align: center;
        }
        
        #this img {
            margin: 0 auto;
            width: 6em;
        }
        
        #this p {
            margin-bottom: 1em;
        }
        
        main article h2 {
            font-weight: 500;
        }
        
        main article p {
            line-height: 2em;
            text-align: center;
        }
        
        .italic {
            opacity: 0.7;
            font-style: italic;
        }
        /*Intro Library */
        /* Main */
        
        main {
            padding: 0 1em;
            background-color: #fff;
        }
        
        main img {
            width: 100%;
        }
        
        .author {
            opacity: 0.7;
            font-size: 1em;
            text-align: left;
        }
        /* Main */
        /* Highlighted Article */
        
        #highlight {
            display: block;
            text-align: left;
        }
        
        #highlight img {
            margin: 2em auto 0;
        }
        
        #highlight h2 {
            font-size: 2em;
            text-align: left;
        }
        
        #highlight .author {
            font-size: 1em;
            margin: 0 0 1em 0;
        }
        
        #highlight p {
            font-size: 0.9em;
            line-height: 2.3em;
            text-align: left;
            margin: 0 auto 1em;
        }
        
        #highlight .btn-banner {
            justify-content: center;
            margin: 1em auto 5em;
            background-color: var(--btnhigh-color);
            border-color: var(--btnhigh-color);
        }
        
        #highlight .btn-banner:hover {
            color: var(--btnhigh-color);
            background-color: #fff;
            border-color: var(--btnhigh-color);
        }
        /* Highlighted Article */
        /* Articles Library in grid */
        
        #small-articles {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 3em;
            align-content: left;
        }
        
        .article-grid {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
        }
        
        figure {
            flex-wrap: nowrap;
            margin: 0;
        }
        
        #small-articles aside {
            margin: 0;
            padding-left: 1em;
        }
        
        .article-grid h3 {
            text-align: left;
            margin: 0;
            line-height: 2em;
        }
        
        .article-grid p {
            font-size: 0.9em;
            margin: 0;
        }
        /* Articles Library in grid */
        /* END Library */
        /* Form */
        
        #form-sec {
            background-color: var(--primary-color);
            width: 100%;
            margin: 1em auto;
            padding: 2em 0;
            text-align: center;
        }
        
        #form-sec h4 {
            font-size: 1.5em;
            margin: 0.5em auto
        }
        
        form {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            padding: 3em 0;
            margin: auto;
            max-width: 40em;
            justify-content: center;
        }
        
        input {
            height: 5em;
            width: 15em;
            margin: auto;
            margin-bottom: 1em;
            border: 0px;
            border-bottom: 1px solid;
            text-align: center;
            color: var(--text-color);
        }
        
        input::placeholder {
            color: var(--text-color);
        }
        
        #checkbox {
            display: flex;
            flex-direction: row;
            margin: 1em auto;
            text-align: center;
            justify-content: center;
        }
        
        #checkbox label {
            box-sizing: border-box;
        }
        
        #checker {
            -webkit-appearance: none;
            cursor: pointer;
            border: 1px solid #2b2b2b;
            background-color: #fff;
            width: 1.2em;
            height: 1.2em;
            position: relative;
            margin: auto 1em;
        }
        /* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox 
        rotation en border widths*/
        
        #checker:checked:after {
            content: '';
            position: absolute;
            height: 8px;
            left: 3px;
            top: 0px;
            width: 4px;
            border: solid #0828CC;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        
        form .btn-banner {
            margin: 0 auto;
            background-color: #0828CC;
            border-color: #0828CC;
        }
        
        form .btn-banner:hover {
            color: #0828CC !important;
            background-color: #fff;
            border-color: #0828CC;
        }
        /* Form */
        /* Detail Pagina hoerah */
        
        #detailpag a {
            text-decoration: underline;
            color: #000;
        }
        
        #linkbtn {
            text-decoration: none;
        }
        
        #stommelinks {
            display: flex;
            position: relative;
            flex-direction: column;
        }
        
        #stommelinks a {
            margin: 1em auto;
        }
        
        #whatbook {
            font-size: 1em;
            font-weight: 700;
        }
        
        #whatbook-grid {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto;
            grid-gap: 3em;
            max-width: 40em;
            justify-content: space-between;
            margin: auto;
        }
        
        #detailpag .article-grid {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        
        #detailpag .article-grid figure {
            justify-content: center;
            margin: 0 auto;
        }
        
        #detailpag .article-grid h3 {
            text-align: center;
            justify-content: center;
            margin: 0 auto;
        }
        
        #brug h2 {
            font-size: 2em;
        }
        
        #detailpag section h4 {
            font-size: 2em;
        }
        
        #mcleod img {
            width: 100%;
        }
        
        #mcleod h5 {
            font-size: 0.7em;
            color: #35cada;
        }
        
        #mcleod p {
            text-align: left;
        }
        
        #detailpag ul {
            background-color: #fff;
            padding: 5em 1em 10em 3em;
        }
        /* Detail Pagina hoerah */
        /* Mobile */
        
        @media screen and (max-width: 30em) {
            #logo-title {
                display: none;
            }
            nav {
                display: none;
            }
            body {
                border-bottom: 1em solid var(--primary-color);
            }
        }
        /* Tablet */
        
        @media screen and (min-width: 30em) and (max-width: 50em) {
            body {
                padding: 1.5em;
                border-bottom: 1.5em solid var(--secondary-color);
            }
            body::before,
            body::after {
                border: 1.5em solid var(--secondary-color);
            }
            nav {
                display: none;
            }
            nav ul {
                top: 45%;
            }
            section article {
                margin: 0 auto;
                align-items: center;
            }
            main {
                padding: 0 8em;
            }
            #partnerblk {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
            #highlight img {
                width: 20em;
            }
            form {
                max-width: 30em;
            }
            #form-sec {
                padding: 4em 7em;
            }
            input {
                height: 6em;
                width: 30em;
            }
        }
        /* Desktop */
        
        @media screen and (min-width: 50em) {
            html {
                font-size: 24px;
            }
            body {
                border-bottom: 1em solid var(--third-color);
            }
            body::before,
            body::after {
                border: 1em solid var(--third-color);
            }
            nav ul {
                width: 40em;
                margin: 4em auto;
            }
            nav ul li {
                height: 6em;
                margin: 1em 0;
                padding: 4em 0;
            }
            nav ul li a {
                font-size: 2em;
                font-weight: 500;
                margin-bottom: 1em;
            }
            section article {
                height: 20em;
                background-size: contain;
                background-image: url('../../img/Bigwrapimg.jpeg');
                background-position: center;
                background-repeat: repeat-x;
            }
            section img {
                display: none;
            }
            section article h1 {
                margin: 2em 0 .0;
            }
            section article span {
                box-sizing: border-box;
                border: 10px solid #fff;
                background-color: #fff;
            }
            section article .btn-banner {
                margin: 3em 0;
            }
            #svgsec {
                padding: 0 1em;
                display: grid;
                grid-template-columns: 1fr 2fr;
                grid-gap: 1em;
            }
            section svg:first-child {
                padding: 0;
            }
            #partnerblk {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
            /* laat uil bij better design groter zijn */
            #svgsec svg:nth-of-type(1) {
                padding: 0;
            }
            #svgsec aside h2 {
                font-size: 2em;
            }
            #svgsec aside p {
                max-width: 30em;
            }
            .italic {
                margin-top: 0;
                margin-bottom: 1em;
            }
            main {
                padding: 0 1em;
            }
            #highlight {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 2em;
                margin: 5em auto;
            }
            #highlight img {
                margin: 0;
            }
            #highlightsec {
                position: relative;
                padding-right: 2em;
            }
            #highlight h2 {
                margin: auto 0;
                text-align: left;
            }
            #highlight .btn-banner {
                position: absolute;
                bottom: 0;
                margin: 0;
            }
            #small-articles {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr auto;
                grid-gap: 3em;
                max-width: 40em;
                justify-content: space-between;
                margin: auto;
            }
            #small-articles aside {
                padding-left: 0;
            }
            .article-grid {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
            .article-grid aside {
                padding: 1em auto;
            }
            #form-sec {
                padding: 4em 7em;
            }
            form {
                max-width: 25em;
            }
            input {
                height: 6em;
                width: 30em;
            }
            form .btn-banner {
                font-size: 0.6em;
            }
        }
        /* detailpagina */
        
        #detailpag {
            padding: 1em;
        }
        
        #whatbook {
            font-size: 1.5em;
            font-weight: 700;
        }
        
        #brug {
            margin: 5em auto;
        }
        
        #whatbook-grid {
            grid-template-columns: 1fr 1fr;
        }
        
        #whatbook-grid .article-grid img {
            width: 3em;
        }
        
        #detailpag section h4 {
            font-size: 4em;
        }
        
        #detailpag ul {
            max-width: 20em;
        }
        /* detailpagina */
        
        @media screen and (min-width: 70em) {
            #small-articles {
                grid-template-columns: 1fr 1fr 1fr;
                max-width: 200em;
            }
        }